.calculator-wrapper {
  display: flex;
  flex-direction: column;
  background: #000;
  padding: 8px;
  width: 256px;
  max-width: 256px;
  gap: 8px;
}

.calculator-wrapper .result-section {
  min-height: 100px;
  background-color: #464647;
  display: flex;
  align-items: end;
  padding: 8px;
  font-size: 2rem;
  overflow-x: scroll;
white-space: norap;
  position: relative;
}

.calculator-wrapper .result-section .result {
  width: 100%;
  text-align: right;
}

.calculator-wrapper .result-section .cursor {
  width: 1px;
  height: 36px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: 8px;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.calculator-wrapper .input-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
}

.calculator-key {
  background-color: #4d4d4d;
  border: none;
  color: white;
  padding: 24px;
}

.calculator-key.zero {
  grid-column: 1 / span 2;
}

.calculator-key.operator {
  background-color: #777677;
}

.calculator-key.operator.delete {
  background-color: #ac3939;
  grid-column: 1 / 3;
}

.calculator-key.operator.equals {
  background-color: #004366;
  grid-column: 4;
  grid-row: 4 / span 2;
}

.calculator-key:hover,
.calculator-key.operator:hover {
  background-color: rgba(119, 123, 117, 0.173);
}

.calculator-key:active {
  outline: 1px solid white;
}
